@import "../../style.css";

.title {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: 'Roboto', sans-serif;
  color: rgb(207, 132, 201);
  text-decoration: none;
  text-align: center;
  
}

.container {
  position: relative;
  border-radius: 15px;
  padding: 7px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutItem {
  display: flex;
  transition: 0.4s;
  color: white;
  font-size: 20px;
  font-family:  'Roboto', sans-serif;
  margin-bottom: 52px;
  color:black;

}

.elementTitle{
  display: flex;
  color: white;
  font-size: 24px;
  
}


.topBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(194, 154, 193, 0.7);
  filter: blur(250px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgb(166, 116, 169);
  filter: blur(100px);
  z-index: 0;
  
}