.title{
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.fakeBtn {
    text-decoration: none;
    background-color: coral;
    color: white;
    border-radius: 100px;
    font-size: 25px;
    font-weight: 600;
    padding: 17px 26px;
  }