@import "../../style.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(255, 255, 255);
    z-index: 1;
  }
  
  .title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family:  'Roboto', sans-serif;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 70%,
      rgba(157, 112, 112, 0) 120%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.description {
  font-size: 30px;
  font-family:  'Roboto', sans-serif;
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: rgb(170, 72, 158);
  color: white;
  border-radius: 100px;
  font-size: 25px;
  font-weight: 600;
  padding: 17px 26px;
}

.buttons {
    display: flex;
    gap: 47px;
    list-style: none;
}

  
.introImg {
  width: 30%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }
  
  .topBlur {
    position: absolute;
    width: 60vw;
    height: 50vw;
    min-width: 350px;
    min-width: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgb(166, 116, 169);
    filter: blur(100px);
    z-index: 0;
  }
  
  .bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-width: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
  background: rgba(194, 154, 193, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: left;
  }
}